.kimcatagrilo{
  margin-left: 0px;
  margin-top: -90px;
}
.acabou{
  text-align: right;
  margin-right: 80%;
}
.background1{
  background-color:white ;
}

.iconMeio{
  text-align: center;
}

.iconEsquerda{
  margin-left: 200px;
  margin-top: 200px;

}

.direitaIcon{
  margin-left: 170px;

}





.esquerda{
  text-align: left;
  margin-left:700px;
  display: block;

}
.direita{
  
  margin-left: 1100px;
  display: block;
  
}
.imagem1{
  margin-left: 600px;
  margin-top: -200px;
}

.imagem2{
  margin-left: 200px;
  margin-top: -125px;

}

.imagem3{
  margin-left: 600px;
  margin-top: -200px;
}
.imagem4{
  margin-left: 400px;
  margin-top: -200px;
}

.bd-example {
  display: block;
  min-width: 100%;
  height: 32rem;
  vertical-align: middle;
  border-style: none;
  margin-bottom: 25%;
  
}



.container {
  display: block;
  max-width: 960px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.carousel-caption {
  min-block-size: 10px;
  min-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.navbar-brand {
  font-size: 30px;
  font-style: italic;
}

div {
 
  margin-right: auto;
  margin-left: auto;
}

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  background-image: url(https://i.ytimg.com/vi/5y9x7aWIysc/maxresdefault.jpg);
}

.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}


.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}






.featurette-divider {
  margin: 5rem 0; 
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;

  letter-spacing: -.05rem;
}




@media (min-width: 40em) {
  
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
